header {
  background: #01474a;
}

.admin-wrapper {
  display: flex;
  height: calc(100% - 66px);
}

.admin-wrapper .left-sidebar {
  flex: 2;
  height: 100%;
  background: #234a57;
}

.admin-wrapper .left-sidebar ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  color: aliceblue;
}
.alert-success hr{border-top-color:#b1dfbb}

.alert{position:relative;padding:.75rem 1.25rem;margin-bottom:1rem;border:1px solid transparent;border-radius:.25rem}

.admin-wrapper .left-sidebar ul li a {
  padding: 18px;
  display: block;
  border-bottom: 1px solid #004044;
}

.admin-wrapper .left-sidebar ul li a:hover {
  background: #004044;
}

.admin-wrapper .admin-content {
  flex: 8;
  height: 100%;
  padding: 40px 100px 100px;
  overflow-y: scroll;
}
.admin-content .page-title {
  text-align: center;
  margin-bottom: 1.5rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1.1rem;
}

th,
td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #d3d3d3;
}

.edit {
  color: green;
}

.delete {
  color: red;
}

.publish {
  color: blue;
}

.edit:hover,
.delete:hover,
.publish:hover {
  text-decoration: underline;
}

form div {
  margin-bottom: 15px;
}


.alert {
    margin-top: 20px;
    padding: 20px;
   
  }
  .alert .success {background-color: #04AA6D;}
  .alert.info {background-color: #2196F3;}
  .alert.warning {background-color: #ff9800;}


  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }

  .closebtn:hover {
    color: black;
  }
